/*menu */

.site-header .navbar-nav {
    text-align: center !important;
}

@media (min-width: 993px) {
.navbar-nav > li > a {
    font-size: 12px !important;
    color: #333;
    font-weight: 600;
}
}

/* body */

.grupales .title_subtitle {
    color: #000 !important;
}

.grupales .title_primary {
    color: #000 !important;
}

.width-logo.sm-logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.navbar-nav > li {
    padding-right: 10px !important;
}

nav.width-navigation {
    margin: 0 auto;
    display: table !important;
}

.form-paquetes {
  position: relative;
  left: 20%;
}

@media  only screen and (max-width: 768px) {
  .form-paquetes {
    left: 0;
  }
}

@media only screen and (max-width:768px) {
  .select-paquetes {
  margin-left: 53%;
  }
}

.cotiza {
    height: 231px;
}

@media only screen and (max-width: 768px) {
  .cotiza {
    height: 405px;
  }
}

.suscripcion-bg {
    background: url('/img/COTIFA-CON-NUESTROS-AGENTES-FONDO-2.png');
}

.suscripcion-m img {
  display: block;
  margin: 60px auto;
}

.col-sm-6.suscripcion-m {
    text-align: center;
}

@media only screen and (max-width:768px) {
  .suscripcion-m img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:768px) {
  .suscripcion-m {
    padding: 30px;
  }
}

.btn-billing {
  margin-top: 35px;
}

.btn-suscription  {
    margin-top: 35px;
}

.btn-registrateb {
  margin-top: 42px;
}

a.lightbox-text-link {
    color: #ffffff;
    transition: 0.4s ease-in;
}

a.lightbox-text-link:hover {
    color: #ffffff;
}

.col-sm-6.cotiza {
    text-align: center;
}

.cotiza img {
  display: block;
  margin: 2px auto;
}

.grupales i.lnr.lnr-chevron-right {
    color: #000;
}

.grupales i.lnr.lnr-chevron-left {
    color: #000;
}

.section-background.promociones {
    background: #f2f2f2;
}

.section-background.populares {
    background: url(/img/populares-fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper-footer {
    background: url(/img/fondo-footer.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    color: #aaa6a6 !important;
    height: 679px;
    /*font-size: 16px !important;*/
}

.wrapper-footer a {
    color: #aaa6a6 !important;
    /*font-size: 16px;*/
}

h3.widget-title {
    color: #0169ac !important;
}

ul.logos {
    text-align: center;
    margin: 0 auto;
    display: table;
    list-style: none !important;
}

ul.logos li {
    float: right;
    margin-right: 10px;
}

.botoom-footer {
    border-bottom: 1px solid #5b6366;
}

.copyright {
    background: #0169ac;
    color: #fff;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.siguenos {
    background: #6ebe4d;
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 73%;
}

.redes-sociales {
    margin-top: 25px;
    margin-bottom: 40px;
}

.logos {
    display: flex;
}

.logos > div {
    flex: 1 1 auto;
}

/* estilos redes sociales */

.social {

    margin-bottom: 0 !important;
    margin-top: 9px;
}

.social ul {
    margin: 0 auto;
}

.social ul li {
    display: inline-block;
    list-style: none;
    margin: 0 2px;
}

.social ul li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    background: #6ebe4d;
}

.social ul li a:hover {opacity: 0.8;}



@media only screen and (max-width : 768px) {

    .wrapper-subscribe {

    position: inherit;

}

.wrapper-footer {
    background: #fff !important;
}

    }


button.btn.btn-default {
    background: #6ebe4d;
    color: #fff;
    font-size: 22px;
}

.navigation-menu {
    background: #fff !important;
}

.contact-top {
    font-size: 15px;
    padding-top: 10px;
    color: #6ebe4d;
}

.contact-top a {
    font-size: 15px;
    color: #6ebe4d !important;
}

ul.top-social {
    margin-bottom: 8px;
    margin-top: -2px;
}

.header_top_bar .top_bar_info {
    list-style: none;
    padding: 0;
    margin: 6px 0 12px;
}


.col-sm-6.siguenos-footer {
    background: url(/img/fondo-registro.png);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 408px;
}

.siguenos-footer h3 {
    color: #fff;
    margin-top: 10px;
    line-height: 1.4em;


}

.siguenos-footer h3 strong {
  font-size: 28px;
}


.col-sm-6.suscripcion-footer {
    background: url(/img/fondo-siguenos.png);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 408px;
}

.suscripcion-footer h3 {
    color: #fff;
    margin-top: 10px;
    line-height: 1.4em;


}

.suscripcion-footer h3 strong {
  font-size: 28px;
}

.sub-title {
    margin: 0 auto;
    display: table;
    width: 75%;
}

.btn-descarga {
    background: #0169ac;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#fff;
    font-weight: 700;
}

.btn-descarga a {
    color: #fff;
}

.btn-descarga a:hover {
    color: #333;
}


/* clases ocultas provicionalmente */

.tour_code {
    display: none;
}

.tour-share {
    display: none;
}

.title-single {
    display: none;
}

/* sub-header */

.amadeus-iframe {
  position: relative;
  bottom: 185px;
  left:40px;
}

@media only screen and (max-width:768px) {
  .amadeus-iframe {
    left: 0px;
    bottom: 120px;
  }
}

@media only screen and (max-width:768px) {
  embed, iframe, object {
    height: 100%;
  }
}

.sub-header {
    padding-top: 203px;
}

.home-content {
    padding-top: 203px;
}

@media only screen and (max-width:768px) {
  .home-content {
      padding-top: 100px;
  }
}

  .amadeus-title {
    margin-top: 70px;
    margin-bottom: 70px;
  }

@media only screen and (max-width: 768px) {
  .amadeus-title {
    display: none;
  }
}

.circuito-page .top_site_main {

    background-image: url(/img/banner-europa-asia-oriente.png);
    background-size: cover;
}

.paquete-page .top_site_main {

    background-image: url(/img/populares-fondo.png);
    background-size: cover;
}

.cruceros .top_site_main {

    background-image: url(/img/cruceros-min.png);
    background-size: cover;
}

.vuelos .top_site_main {

    background-image: url(/img/vuelos-min.png);
    background-size: cover;
}

.trenes .top_site_main {

    background-image: url(/img/trenes-min.png);
    background-size: cover;
}

.autos .top_site_main {

    background-image: url(/img/autos-min.png);
    background-size: cover;
}

.seguros .top_site_main {

    background-image: url(/img/seguros-min.png);
    background-size: cover;
}

.contacto .top_site_main {

    background-image: url(/img/populares-fondo.png);
    background-size: cover;
}

.promociones .top_site_main {

    background-image: url(/img/populares-fondo.png);
    background-size: cover;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0169ac;
    color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #6ebe4d;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #6ebe4d;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4px;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 768px) {
  .tabcontent {
    background-color: rgba(0,0,0,1);
  }
}

@media only screen and (max-width:768px) {
  .mobile-promo {
    margin-left: 15%;
    margin-bottom: 30px;
  }
}

/* .modal-backdrop {
  display:none;
} */
